/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 26, 2015, 10:06:11 AM
    Author     : Atha
*/

@font-face{
    font-family: barcode;
    src: url(fonts/Code39Azalea.woff);
}

.barcode{
    font-family: barcode;
    font-size: 50px;
}
